@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #18181b;
	min-height: 100vh;
}

img {
	width: 100%;
	display: flex;
}

a {
	text-decoration: none;
}

nav {
	max-width: 1200px;
	margin: auto;
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.nav-logo {
	max-width: 100px;
}

.nav-links {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 3rem;
}

.link a {
	position: relative;
	padding-bottom: 0.75rem;
	color: #fff;
}

.link a::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 0;
	bottom: 0;
	left: 0;
	background-color: #1d4ed8;
	transition: all 0.3s ease;
}

.link a:hover::after {
	width: 70%;
}

.btn {
	padding: 1rem 2rem;
	font-size: 1rem;
	color: #fff;
	background-color: #1d4ed8;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn:hover {
	background-color: #1e40af;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 6rem 2rem;
}

.blur {
	position: absolute;
	box-shadow: 0 0 1000px 50px #1d4ed8;
	z-index: -100;
}

header {
	position: relative;
	padding-top: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}

.sub-header {
	max-width: 800px;
	margin: auto;
	text-align: center;
	color: #ccc;
}

header .content h4 {
	margin-bottom: 1rem;
	color: #ccc;
	font-size: 1rem;
	font-weight: 600;
}

header .content h1 {
	color: #fff;
	margin-bottom: 1rem;
	font-size: 3rem;
	font-weight: 700;
	line-height: 4rem;
}

header .content h1 span {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px #fff;
}

header .content p {
	margin-bottom: 2rem;
	color: #ccc;
}

header .image {
	position: relative;
}

header .image::before {
	content: 'o';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 38rem;
	font-weight: 400;
	line-height: 20rem;
	color: #1d4ed8;
	opacity: 0.2;
	z-index: -100;
}

header .image img {
	max-width: 600px;
	margin: auto;
}

section .header {
	margin-bottom: 1rem;
	color: #fff;
	text-align: center;
	font-size: 2.25rem;
	font-weight: 600;
}

.features {
	margin-top: 4rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.features .card {
	background-color: #27272a;
	padding: 1rem;
	border: 2px solid transparent;
	border-radius: 15px;
	transition: all 0.3s ease;
}

.features .card:hover {
	background-color: #323232;
	border-color: #fff;
}

.features .card span {
	display: inline-block;
	background-color: #1e40af;
	padding: 2px 9px;
	margin-bottom: 1rem;
	font-size: 1.75rem;
	color: #fff;
	border-radius: 5px;
}

.features .card h4 {
	margin-bottom: 0.5rem;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 600;
}

.features .card p {
	color: #ccc;
	margin-bottom: 1rem;
}

.features .card a {
	color: #fff;
	transition: all 0.3s ease;
}

.features .card a:hover {
	color: #1e40af;
}

.technologies {
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
	margin-top: 3rem;
}

.technologies img {
	width: 100px;
	margin: 1rem 0rem;
}

/* CONTACT SECTION */

.contact-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-info {
	color: #fff;
	max-width: 500px;
	line-height: 65px;
	padding-left: 50px;
	font-size: 18px;
}

.contact-info i {
	margin-right: 20px;
	font-size: 25px;
}

.contact-form {
	max-width: 700px;
	margin-right: 50px;
}

.contact-info,
.contact-form {
	flex: 1;
}

.contact-form h2 {
	color: #fff;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.contact-form .text-box {
	background: #000;
	color: #fff;
	border: none;
	width: calc(50% - 10px);
	height: 50px;
	padding: 12px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}

.contact-form .text-box:first-child {
	margin-right: 15px;
}

.inputs-container {
	display: flex;
	justify-content: space-between;
}

.contact-form textarea {
	background: #000;
	color: #fff;
	border: none;
	width: 100%;
	padding: 12px;
	font-size: 15px;
	min-height: 200px;
	max-height: 400px;
	resize: vertical;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	opacity: 0.9;
}

.contact-form .send-btn {
	float: right;
	background: #1d4ed8;
	color: #fff;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	transition-property: background;
}

.contact-form .send-btn:hover {
	background: #1e40af;
}

/* css for alert messages */

.alert-success {
	z-index: 1;
	background: #d4edda;
	font-size: 18;
	padding: 20px 40px;
	min-width: 420px;
	position: fixed;
	right: 0;
	top: 10px;
	border-left: 8px solid #3ad66e;
	border-radius: 4px;
}

.alert-error {
	z-index: 1;
	background: #fff3cd;
	font-size: 18;
	padding: 20px 40px;
	min-width: 420px;
	position: fixed;
	right: 0;
	top: 10px;
	border-left: 8px solid #ffa502;
	border-radius: 4px;
}

/* FOOTER SECTION */

footer {
	position: relative;
	display: grid;
	grid-template-columns: 400px repeat(3, 1fr);
	gap: 2rem;
}

footer .column .logo {
	max-width: 100px;
	margin-bottom: 2rem;
}

footer .column p {
	color: #ccc;
	margin-bottom: 2rem;
}

footer .column .socials {
	display: flex;
	align-items: center;
	gap: 1rem;
}

footer .column .socials a {
	color: #ccc;
	border: 1px solid #ccc;
	padding: 5px 10px;
	font-size: 1.25rem;
	border-radius: 100%;
	transition: all 0.3s ease;
}

footer .column .socials a:hover {
	color: #fff;
	background-color: #1d4ed8;
	border-color: #1d4ed8;
}

footer .column h4 {
	color: #fff;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	font-weight: 500;
}

footer .column > a {
	display: block;
	color: #ccc;
	margin-bottom: 1rem;
	transition: all 0.3s ease;
}

footer .column > a:hover {
	color: #1d4ed8;
}

@media (width < 900px) {
	.nav-links {
		display: none;
	}
	header {
		grid-template-columns: repeat(1, 1fr);
	}
	header .image {
		grid-area: 1/1/2/2;
	}
	.features {
		grid-template-columns: repeat(2, 1fr);
	}
	footer {
		grid-template-columns: 1fr 200px;
	}

	.contact-section {
		flex-direction: column;
	}
	.contact-info,
	.contact-form {
		margin: 30px 50px;
	}

	.contact-info {
		padding-left: 0;
	}

	contact-form h2 {
		font-size: 30px;
	}

	.contact-form .text-box {
		width: 100%;
	}
}

@media (width < 600px) {
	header .image::before {
		display: none;
	}

	.features {
		grid-template-columns: repeat(1, 1fr);
	}

	footer {
		grid-template-columns: 1fr 150px;
	}
}

center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#totoro-img {
	width: 150px;
	transform: rotate(5deg);
}

.evenly {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
